Source: libsdl-qtmoko
Priority: optional
Section: libs
Maintainer: Radek Polak <psonek2@seznam.cz>
Uploaders: Radek Polak <psonek2@seznam.cz>
Standards-Version: 3.8.4
Build-Depends: dpkg (>= 1.13.2), debhelper (>= 5.0), quilt
Vcs-Git: https://github.com/radekp/sdl-qtmoko.git
Vcs-Browser: https://github.com/radekp/sdl-qtmoko.git
Homepage: http://www.libsdl.org/

Package: libsdl-qtmoko
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple DirectMedia Layer with QtMoko and PulseAudio options.
 SDL is a library that allows programs portable low level access to a video
 framebuffer, audio output, mouse, and keyboard.
 .
 This version of SDL is compiled with QtMoko graphics and PulseAudio sound.
